<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- to link the file of css to the ejs file we donot mention the public  -->
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--this code is used for calulation purpose syntax:<%= 2+2 %> in this equal to is used to print something their is shown Hello 4 in the webpage -->
     <h1>Hello <%= 2+2 %> </h1> 
     <h2>Namesta</h2>
     <div class="test"></div>
     <h1>Hello world</h1>
     <p>Heloo</p>
     <p class="mt-[50px] ml-[300px]"> Abhisek Daude</p>
     <!-- for linking the file from the public folder we donot mestion tje name of the public  -->
     <script src="/javascript/script.js"></script>
</body>
</html>